/*noinspection CssUnknownTarget*/
@import url('https://fonts.googleapis.com/css?family=Nunito');

/*
Color scheme:
#8BA4FF Primary Blue (Lighter)
#45527F Dark Blue
#D7E0FF Light grey
#6C707F Dark Grey
 */

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
:root {
    font-size: 16px;
    line-height: 1.5em;
    font-family: 'Nuito', 'Myriad Pro', sans-serif;
    min-height: 100%;
}

body {
    min-height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #45527F;
    line-height: normal;
}

a {
    color: #45527F;
}

.BigFont {
    font-size: 1.25em;
}

ul li {
    list-style: disc inside;
}

p + h1,
p + h2,
p + h3,
p + h4,
p + h5,
p + h6 {
    margin-top: 10px;
}

h1 + *:not(h1,h2,h3,h4,h5,h6),
h2 + *:not(h1,h2,h3,h4,h5,h6),
h3 + *:not(h1,h2,h3,h4,h5,h6),
h4 + *:not(h1,h2,h3,h4,h5,h6),
h5 + *:not(h1,h2,h3,h4,h5,h6),
h6 + *:not(h1,h2,h3,h4,h5,h6) {
    margin-top: 1em;
}

p,
ul,
ol {
    margin-top: 0.5em;
}

main {
    min-height: calc(100vh - 50px - 80px - 50px - 1em);
}

header,
footer {
    min-height: 50px;
    background: #45527F;
    color: white;
}

header {
    margin-bottom: 80px;
}

footer {
    margin-top: 1em;
}

header a,
footer a {
    color: white;
    display: inline-block;
    text-decoration: none;
    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    -ms-transition: color 0.3s;
    -o-transition: color 0.3s;
    transition: color 0.3s;
}

header a:hover,
footer a:hover {
    color: #D7E0FF;
}

header #Logo {
    background: white;
    height: 100px;
    position: absolute;
    top: 0;
    left: 20px;
    width: 100px;
    z-index: 9999;
}

.Shadow {
    -webkit-box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.19);
    box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.19);
}

header #Logo a {
    display: block;
}

.TaRight {
    text-align: right;
}

.TaLeft {
    text-align: left;
}

.TaCenter {
    text-align: center;
}

.VaCenter {
    display: inline-block;
    margin-top: 25px;
    -webkit-transform: translatey(-50%);
    -moz-transform: translatey(-50%);
    -ms-transform: translatey(-50%);
    -o-transform: translatey(-50%);
    transform: translatey(-50%);
}

.ContentWrapper {
    max-width: 1180px;
    padding: 0 10px;
    margin: 0 auto;
    min-height: 100%;
    position: relative;
}

.Row {
    display: flex; /* block */
    flex-wrap: wrap;
    align-items: stretch;
    clear: both;
    position: relative;
}

.Row + .Row {
    margin-top: 1em;
}

.Row:after {
    display: block;
    clear: both;
    content: "";
}

.Content {
    display: flex; /* block */
    flex-direction: column;
    padding: 0 10px;
    position: relative;
    min-height: 100%;
}

.Column-100 {
    width: 100%;
}

.Column-50 {
    width: 50%;
}

.Column-33 {
    width: 33.33333333333%;
}

.Column-66 {
    width: 66.66666666666%;
}

.Content.BlueBox {
    padding-top: 10px;
    background: #45527F;
}

.Content.BlueBox,
.Content.BlueBox * {
    color: white;
}

@media screen and (max-width: 640px) {
    .Content {
        width: 100% !important;
    }

    .Content + .Content {
        margin-top: 20px;
    }
}